  .ECM_CheckboxInput {
    padding: 12px 8px;
    @include breakPointS($mini) {
        padding: 30px 8px;
    }
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .ECM_CheckboxInput-Input {
    margin: 0;
    width: 0;
    opacity: 0;
  }
  
//   .ECM_CheckboxInput:hover{
//     background: rgba(0,0,0,.05) !important;
//   }
  
  .ECM_CheckboxInput:hover > .ECM_CheckboxInput-DummyInput{
    transform: scale(1.1);
  }
  
  .ECM_CheckboxInput-Input:focus + .ECM_CheckboxInput-DummyInput{
    transform: scale(1.1);
  }
  .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput {
    background: #82D4E3;
  }
  .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before {
    content: "";
    display: block;
    position: absolute;
    top: 46%;
    left: 50%;
    width: 35%;
    height: 4px;
    border-radius: 2px;
    transform: translate(-6px, 5px) rotateZ(-135deg);
    transform-origin: 2px 2px;
    background: #FFFFFF;
  }
  .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::after {
    content: "";
    display: block;
    position: absolute;
    top: 46%;
    left: 54%;
    width: 70%;
    height: 4px;
    border-radius: 2px;
    transform: translate(-6px, 5px) rotateZ(-45deg);
    transform-origin: 2px 2px;
    background: #FFFFFF;
  }
  .ECM_CheckboxInput-DummyInput {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 28px;
    height: 28px;
    border: solid 2px transparent;
    background: rgba(0, 0, 0, .15);
    border-radius: 50%;
    transition: all .15s linear;
  }
  .ECM_CheckboxInput-LabelText {
    margin-left: 12px;
    display: block;
    font-size: 18px;
    font-weight: bold;
  }